.Bookingu {
  margin-top: 50px;
   margin-left: 10%;
   margin-right: 10%;
}

.formu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
   margin-left: 28%;
   border-radius: 10px;
}

.formu > div {
  display: flex;
  flex-direction: column;
  margin-right: 1%;
  margin-left: 7%;
  margin-top: 20px;
   border-radius: 10px;

}

label {
  margin-bottom: 1rem; /* Adjusted margin for better spacing */
}

input,
select,
button {
  padding: 0.5rem; /* Adjusted padding for better spacing */
  margin-bottom: 1rem;
  width: 100%; /* Full width for better alignment */
}

.resbutt {
  background-color: #303132;
  color: white;
  border: none;
  cursor: pointer;
}

button.R_vehicle {
  margin-top: 1.5rem;
  background-color: #333533;
}

.resbutt:hover,
.resbutt:focus {
  background-color: #606061;
}

button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}
