.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lavender;
}

.flex-container {
  width: 400px;
  padding: 20px;
  background-color: lavenderblush;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 60px;
}

.form-container {
  max-width: 400px;
  padding: 20px;
}

.form-container div {
  margin-bottom: 15px;
}

.form-container input[type="text"],
.form-container input[type="number"],
.form-container select {
  min-width: 400px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.package-button {
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.detail-button {
  position: absolute;
  top: 35px;
  left: 20px;
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

.success-message {
  color: #4caf50;
  font-weight: bold;
}

h2 {
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: darkblue;
}

.person-input-container {
  margin-bottom: 15px;
}

.person-input-container input[type="number"] { 
  min-width: 400px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
