.table-container2 {
  position: relative;
  margin: 70px auto 30px auto;
  width: 80%;
  background-color: lavender;
  top: 90px;
}

.cus-topic h2 {
  text-align: center;
  font-size: 40px;
  top: 50px;

}

table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #000; 
}

th, td {
  padding: 8px;
  text-align: left;
  border: 2px solid black; 
}

th {
  background-color: lavender;
  font-weight: bold;
}

button {
  padding: 5px 20px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}


button.edit, button.delete, button.view {
  margin-right: 5px;
}

button.edit {
  background-color: #eed202;
  color: black;
  margin-right: 5px;
}

button.delete {
  background-color: red;
  color: whitesmoke;
}

button.view {
  background-color: #78A55A;
  color: white;
}

.action-buttons {
  display: flex;
  align-items: center;
}
.create-button3 {
  position: absolute;
  bottom: 610px; 
  left: 80%; 
  transform: translateX(-50%); 
  background-color: #000000;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

.search-bar2 {
  position: absolute;
  top: 60px; 
  right: 25px; 
}

.search-bar2 input[type="text"] {
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 20px;
  outline: none;
}

.search-bar2 input[type="text"]:focus {
  border-color: #78A55A; 
}

.search-bar2 input[type="text"]::placeholder {
  color: #999; 
}

.search-bar2 button {
  padding: 8px 20px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 5px;
}

.search-bar2 button:hover {
  background-color: #5C7B4C; 
}